* {
  font-family: "HCMaruGothic";
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#window {
  min-width: 10px;

  padding-top: 3px;
  padding-bottom: 0px;
}

window#waybar {
  background-color: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
/*  border: 3px solid #b4befe; */
}

box.vertical.modules-right,
box.vertical.modules-left,
box.vertical.modules-center {
  padding-left: 10px;
  padding-right: 10px;
  /* border-radius: 12px;
  background-color: @theme_base_color; */
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 120px;
    min-width: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #313244;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #b4befe;
}

#tray, #memory, #custom-disk, #network, #pulseaudio-slider {
  padding-top: 10px;
  padding-bottom: 10px;
}

#custom-hour_value, #custom-month_value {
  padding-top: 10px;
}

#custom-minute_label {
  padding-bottom: 10px;
}

#custom-hour_value, #custom-hour_label, #custom-minute_value, #custom-minute_label {
  opacity: 0.85;
  font-size: 18px;
}

/* Workspaces style originally based on https://github.com/cakePhone/dotfiles/tree/faac3b96840443b9f937c34024ab5e9730905f07/waybar */

#workspaces button {
  border-radius: 20px;
  margin: 8px 0;
  transition-duration: .2s;
  transition-property: padding, background-color;
  background-color: @borders;
}

#workspaces button.active {
  padding-bottom: 10px;
  background-color: #f38ba8;
}

#workspaces.vertical box label {
  background-color: transparent;
}
